button:focus,
input:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

/* menu */
header {
  position: sticky;
  z-index: 9999 !important;
}
.main-menu ul li {
  padding: 6px 10px;
  border: 1px solid transparent;
  border-radius: 3px;
  transition: 0.3s;
}
.main-menu ul li:hover {
  border: 1px solid white;
}
.sidebar-menu li {
  padding: 6px 5px;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 18px;
  transition: 0.3s;
}
.sidebar-menu li a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.sidebar-menu li:hover {
  border: 1px solid #185abc;
  color: #185abc;
}
.sidebar-menu li a {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* banner */
.hot-carousel::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: linear-gradient(to bottom, transparent, white 70%, white 100%);
}

/* slider-responsive */
.slider-responsive img {
  padding: 0 5px;
  border-radius: 10px;
}
.slick-prev:before,
.slick-next:before {
  font-size: 30px !important;
  opacity: 0.5 !important;
  color: rgb(136, 136, 136) !important;
  box-shadow: 5px 5px 10 px black !important;
  filter: drop-shadow(5px 5px 10 px black) !important;
}
.slider-responsive2 .slick-prev,
.slider-responsive2 .slick-next {
  top: 0 !important;
  right: 30px !important;
  left: auto !important;
  padding-bottom: 80px !important;
}
.slider-responsive2 .slick-prev {
  margin-right: 40px !important;
}
.slider-responsive2.hot {
  padding: 10px;
  margin-top: -150px;
  z-index: 99;
}
.slick-next {
  right: -15px !important;
  z-index: 99 !important;
}
.slick-prev {
  z-index: 99 !important;
}

/* tooltip */
.fa-heart,
.fa-right-left {
  position: relative;
}
.fa-heart::after {
  content: "Save to basket";
}
.fa-right-left::after {
  content: "Compare";
}
.fa-heart::after,
.fa-right-left::after {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 5px;
  border-radius: 2px;
  opacity: 0;
  width: max-content;
  background: black;
  color: #fff;
  position: absolute;
  right: 40px;
}
.fa-heart:hover::after,
.fa-right-left:hover::after {
  opacity: 1;
}
.card-img {
  overflow: hidden;
}
.card-img img {
  transition: 2s ease;
}
.card:hover .card-img img {
  transform: scale(1.15);
  filter: brightness(1.1);
}
.card .icon-overlay i:hover {
  color: #fff;
  background-color: rgb(3, 99, 255);
  transition: 0.3s;
}

/* footer */
.footer-top ul li a {
  position: relative;
}
.footer-top ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.05em;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.footer-top ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 640px) and (max-width: 767.98px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 639.98px) {
  .slick-prev {
    left: -10px !important;
  }
  .slick-next {
    right: -5px !important;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
