/* menu */

.main-menu ul li {
    padding: 6px 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: 0.3s;
  }
  .main-menu ul li:hover {
    border: 1px solid white;
  }
  
  .sidebar-menu li {
    padding: 6px 5px;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .sidebar-menu li a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .sidebar-menu li:hover {
    border: 1px solid #185abc;
    color: #185abc;
  }
  
  .sidebar-menu li a {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .banner-carousel::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background: linear-gradient(to bottom, transparent, #ffffff23 70%, white 100%);
  }
  

.home-products-card {
    position: relative;
    overflow: hidden;
}
.home-products-card::before,
.home-products-card::after {
    content: '';
    position: absolute;
    background-color: blue;
    transition: width 0.4s ease, height 0.4s ease;
}
.home-products-card::before {
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
}
.home-products-card::after {
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
}
.home-products-card:hover::before {
    width: 100%;
}
.home-products-card:hover::after {
    height: 100%;
}



.image-container {
    position: relative;
    overflow: hidden;
}
.image-main {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    object-fit: cover;
    transform: scale(0.9) rotate(5deg); 
}
.image-hover {
    transition: opacity 0.3s ease-in-out;
    transform: scale(1.01);
}
.image-container:hover .image-main {
    opacity: 0; 
}
.image-container:hover .image-hover {
    opacity: 1; 
}
